repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff
      - id: ruff-format
ci:
  autoupdate_commit_msg: "ci: Update pre-commit hooks"
  autofix_commit_msg: "fix: Auto-fix from pre-commit hooks"
