repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff
      - id: ruff-format
ci:
  autoupdate_commit_msg: "ci: update pre-commit hooks"
  autofix_commit_msg: "fix: auto-fix from pre-commit hooks"
