body {
    background-color: #36393f;
    color: #dcddde;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 64px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
