name: Build and Push Docker Image

on:
  push:
    branches:
      - main
    paths:
      - "Dockerfile"
      - "pyproject.toml"
      - "uv.lock"
      - "hoyo_buddy/**"
      - "run.py"
      - "run_web_app.py"
      - "run_web_server.py"
      - "run_scheduler.py"
      - ".github/workflows/docker-build.yml"
  pull_request:
    branches:
      - main
    paths:
      - "Dockerfile"
      - "pyproject.toml"
      - "uv.lock"
      - "hoyo_buddy/**"
      - "run.py"
      - "run_web_app.py"
      - "run_web_server.py"
      - "run_scheduler.py"
      - ".github/workflows/docker-build.yml"
  workflow_dispatch:

env:
  DOCKERHUB_USERNAME: seriaati
  IMAGE_NAME: hoyo-buddy

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: false # Don't checkout submodules here; Docker will handle it

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha,prefix={{branch}}-,enable=${{ github.event_name != 'pull_request' }}
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          secrets: |
            gh_token=${{ secrets.GH_PAT }}
          platforms: linux/amd64

      # - name: Deploy to Dokploy
      #   if: github.event_name != 'pull_request'
      #   run: |
      #     curl -X 'POST' \
      #       'https://dokploy.seria.moe/api/compose.deploy' \
      #       -H 'accept: application/json' \
      #       -H 'Content-Type: application/json' \
      #       -H 'x-api-key: ${{ secrets.DOKPLOY_API_KEY }}' \
      #       -d '{
      #       "composeId": "eGR3rwcNTsoEmKbgew6ur",
      #       "title": "${{ github.event.head_commit.message }}",
      #       "description": "Hash: ${{ github.sha }}"
      #     }'
