name: Type check
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'hoyo_buddy/**.py'
      - 'run.py'
      - 'run_web_app.py'
      - 'pyproject.toml'
      - 'uv.lock'
      - '.github/workflows/pyright.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'hoyo_buddy/**.py'
      - 'run.py'
      - 'run_web_app.py'
      - 'pyproject.toml'
      - 'uv.lock'
      - '.github/workflows/pyright.yml'

jobs:
  pyright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install Project
        run: |
          uv sync --frozen
          uv pip uninstall uvloop
          echo "$PWD/.venv/bin" >> $GITHUB_PATH

      - name: Run Pyright
        uses: jakebailey/pyright-action@v2
        with:
          working-directory: hoyo_buddy/
          extra-args: '--outputjson'
