name: Pyright
on:
  push:
    branches: [ main ]
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened, closed]

jobs:
  pyright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install Project
        run: uv sync --frozen --no-dev && uv pip install pyright[nodejs]

      - name: Run Pyright
        run: uv run pyright
